* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    transition: 0.3s;
    color: #ffffff;
}

.container{
    background: url(img/001.jpg) ;
    background-size: cover; /* Caso a resolução do monitor de alguém seja maior que a imagem */ 
    height: 100vh;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: Arial, Helvetica, sans-serif;
    height: 10vh;
    
}

.logo {
    
    height: 15vh;
    width: 50vh;
}

.nav-list {
    display: flex;
    list-style: none;
}
.nav-list li {
    text-decoration: none;
    letter-spacing: 3px;
    margin-left: 30px;
}



/* .container{
    width: 182.8vh;
    height: 100vh;
    overflow-x: hidden;
    background-image: linear-gradient(rgba(0,0,0,0.3),transparent),url(img/01.jpg);
    background-size: cover;
    background-position: center;
    padding: 0 8%;
    position: relative;
} */